<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
  </ion-content>
	 <ion-footer-bar class="bar-frosted">
		 <label class="item item-input">
				<input type="text" placeholder="your message">
			</label>
	   <button class="icon ion-android-send" ng-click="add()"></button>
	 </ion-footer-bar>

</ion-view>
