<ion-view view-title="create Room">
	<ion-content scroll="false">
		<div>
			<!---->
			<!--<ui-gmap-google-map center="map.center" zoom="map.zoom">-->

			<!--</ui-gmap-google-map>-->
			<form action="">
				<div class="list">
					<label class="item item-input item-floating-label">
						<h2 style="color: red">{{ errorMes }}</h2>
						<span class="input-label">Chat room name</span>
						<input type="text" placeholder="Chat room name" ng-model="newRoom.name">
					</label>
					<!--range when select private checkbox-->
					<div class="range">
						<h2>{{ newRoom.range }} m</h2>
						<input type="range" name="volume" min="0" max="1000" step="100" value="0" ng-model="newRoom.range">
					</div>
					<!--private checkbox-->
					<ion-checkbox ng-model="newRoom.private">Private( only people in this range can join)</ion-checkbox>

					<!--create button-->
					<button class="button button-block button-assertive activated" ng-click="createRoom()">
						Create Room
					</button>
				</div>
			</form>
		</div>

  </ion-content>
</ion-view>
<!-- successInfo modal-->
<script id="successInfo.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Your room is Successful created</h1>
    </ion-header-bar>
    <ion-content>
      <button ui-sref="tab.dash">Go Back to Rooms Dash board</button>
    </ion-content>
  </ion-modal-view>
</script>
