<ion-view view-title="Account" style="background-image: url('img/networking.jpg'); background-size: cover;">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-dark" ng-click="login('facebook')">Login with Facebook</button>
  </ion-content>
</ion-view>
