<ion-view view-title="Account">
  <ion-slide-box>

  <!-- Slide page one -->
  <ion-slide>
    <div class="row">
      <div class="col col-offset-20">
        <img ng-src="img/yourHome.png" alt=""/>
        <p>Tap the Room to have fun.</p>
      </div>
    </div>
  </ion-slide>

  <!-- Slide page two -->
  <ion-slide>
    <div class="row">
      <div class="col col-offset-20">
        <img ng-src="img/activeChatRoom.png" alt=""/>
        <p>
          You only can have 1 active chat room.
        </p>
      </div>
    </div>
    <div class="row row-center">
      <button class="button button-block button-dark" ng-click="login('facebook')">Login with Your Facebook</button>
    </div>
  </ion-slide>

  <!-- More slides here... -->
</ion-slide-box>
</ion-view>
<style>
  .slider {
    width: 100%;
    height: 100%;
  }
</style>
